.background {
  background-color: green;
  min-height: 100%;
  min-width: 800px;
}

img {
  height: 170px;
  width: 170px;
}

.right {
  transform: rotate(0turn);
}

.left {
  transform: rotate(0.5turn);
}

.up {
  transform: rotate(-0.25turn);
}

.down {
  transform: rotate(0.25turn);
}
